<%= @map.to_html %>

<div class="mapa">
  <%= @map.div %>
</div>


<div class="info">
  <h1>Hay <%= @numero_churromanias %> churromanias </h1>
</div>

<div class="info">
  <h2><%= link_to @tienda.nombre, @tienda%></h2>
  <%=h @tienda.direccion %>
</div>


<% if params[:admin] == "yes" %>
  <%= link_to 'Editar', edit_tienda_path(@tienda) %> |
  <%= link_to 'Borrar', @tienda ,:confirm  => '¿Seguro?', :method  => :delete %>
<% end %>