<%= @map.to_html %>
<div class="mapa">
  <%= @map.div %>
</div>


<p>
  <b>Nombre:</b>
  <%=h @tienda.nombre %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @tienda.direccion %>
</p>

<%= link_to 'Edit', edit_tienda_path(@tienda) %> |
<%= link_to 'Back', tiendas_path %>