<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Tiendas Churromania</title>
  <%= stylesheet_link_tag 'scaffold', 'styles' %>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <%= javascript_include_tag 'application' %>
</head>
<body>

  <div class="logo">
    <%= link_to image_tag('/images/logo.png'), '/' %>
    <%= image_tag '/images/locations.png' %>
    
    <%= session[:geo_location].methods %>
    
    <div class="ciudades">
      Todas las Ciudades
    </div>
    
    <div class="ciudades_form" style="display: none;">
      <% @ciudades.each do |ciudad| %>
        <div class="ciudad"><span><%= link_to ciudad, tiendas_path(ciudad) %></span></div>
      <% end %>
    </div>
    
    
    <div class="new_franquicia">
      Sugerir Franquicia
    </div>    
    
    
    <div class="new_franquicia_form" style="display: none;">
      <%= render :partial => "/tiendas/new" %>
    </div>
    
    <div class="numero_tiendas">
      <h1>Hay <%= @numero_churromanias %> churromanias </h1>
    </div>
    
    
    
    <div class="notices">
      <p style="color: blue;"><%= flash[:notice] %><p>
      <p style="color: red;"><%= flash[:error] %></p>
    </div>
  </div>


  <div class="mapa">
    <%= @map.div %>
    <%= @map.to_html %>
  </div>
  
  <div class="tiendas">
      <%= yield %>
  </div>
  
</body>
</html>
